<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a5fcf1e2-07cb-47d6-b597-2fb0d2c9dba0/resourcegroups/Australia/providers/Microsoft.Web/sites/CheeseLover</ResourceId>
    <ResourceGroup>Australia</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cheeselover.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>36f3f335-5edc-486b-987a-002b4875e2e3</ProjectGuid>
    <PublishUrl>https://cheeselover.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CheeseLover</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>